
.Hey {
    margin-top: 50px;
}
.image img
{
    display: block;

    margin: 0 auto;
}
.image
{
    margin-top: 20px;
    text-align: center;
}
.startText
{
    margin-top: -12px;
}
.startButton
{
    position: absolute;
    bottom: 65px;
}
.profileButton{

    margin-top: 10px;
    margin-bottom: 10px;
}
.profileText
{
    text-align: center;
}

